version: "3.8"
services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - app_blue
      - app_green

  app_blue:
    image: hassan290/web-calculator:${BLUE_TAG}
    container_name: app_blue
    environment:
      - FLASK_ENV=production
    healthcheck:
      test: ["CMD", "python", "-c", "import socket; s = socket.socket(); s.connect(('localhost', 5000)); s.close()"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s

  app_green:
    image: hassan290/web-calculator:${GREEN_TAG}
    container_name: app_green
    environment:
      - FLASK_ENV=production
    healthcheck:
      test: ["CMD", "python", "-c", "import socket; s = socket.socket(); s.connect(('localhost', 5000)); s.close()"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s